<a href="https://colab.research.google.com/github/vjbarayuga/Week2-Pandas-for-Data-Manipulation-CodingDojo/blob/main/SalesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# 1 Display the head of the dataframe
import pandas as pd
import numpy as np
# Keep in mind that the filename will likely be different on your computer (especially later in course)
filename='/content/drive/MyDrive/Coding_DOJO-Data_Science_Bootcamp/02_Part_Time_Data_Science/2_Pandas_for_Data_Manipulation/Dataset/sales_predictions.csv'
df = pd.read_csv(filename)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
# Rows and Columns
# 8523 rows × 12 columns

In [24]:
# 2) What are the datatypes of each variable?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [25]:
#data types
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [26]:
#shape 
df.shape

(8523, 12)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#3) Are there duplicates? If so, drop any duplicates.
df.duplicated(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales'], keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [ ]:
#check if there are duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [ ]:
#4) Identify missing values.
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
#check null values
df.isnull().values.any()

True

In [ ]:
#head first 5 rows
#tail last 5 rows

In [27]:
#4) Identify missing values.
#axis 0 is the row
df.loc[:, df.isna().any(axis=0)]

      Item_Weight Outlet_Size
0           9.300      Medium
1           5.920      Medium
2          17.500      Medium
3          19.200         NaN
4           8.930        High
...           ...         ...
8518        6.865        High
8519        8.380         NaN
8520       10.600       Small
8521        7.210      Medium
8522       14.800       Small

[8523 rows x 2 columns]

In [28]:
#4) Identify missing values
#axis 1 is the column
df[df.isna().any(axis=1)]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07        19.20  ...      Grocery Store           732.3800
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
8              FDH17        16.20  ...  Supermarket Type1          1076.5986
9              FDU28        19.20  ...  Supermarket Type1          4710.5350
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
...              ...          ...  ...                ...                ...
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128
8508           FDW31        11.35  ...  Supermarket Type1          2587.9646
8509           FDG45         8.10  ...      Grocery Store           424.7804
8514           FDA01        15.00  ...  Supermarket Type1           468.7232
8519           FDS36         8.38  ...  Supermarket Type1           549.2850

[3873 rows x 12 columns]

In [ ]:
#3873 with values NaN (null)

In [29]:
df[df.Item_Weight.isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [ ]:
# 1463 with values NaN (null)

In [ ]:
df[df.Outlet_Size.isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [15]:
df[df['Item_Weight'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [30]:
df[df['Outlet_Size'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [3]:
df['Item_Weight'].value_counts(dropna=False)

NaN       1463
12.150      86
17.600      82
13.650      77
11.800      76
          ...
5.675        2
9.420        1
6.520        1
7.685        1
5.400        1
Name: Item_Weight, Length: 416, dtype: int64

In [31]:
df['Outlet_Size'].value_counts(dropna=False)

Medium    2793
NaN       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [17]:
df.shape

(8523, 12)

In [17]:
Sum_Item_Weight = df['Item_Weight'].sum()
Sum_Item_Weight

90774.97499999999

In [16]:
Average_Item_Weight = Sum_Item_Weight / 8523
Average_Item_Weight

10.650589581133403

In [ ]:
#5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [ ]:
#Drop rows if any of the columns have a missing value (NaN)
#df.dropna(how='any', inplace=True)

In [5]:
#df = df.drop(columns=['Item_Weight'])
df['Item_Weight'].fillna(value='VARIOUS', inplace=True)
df.head()

  Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.3  ...  Supermarket Type1          3735.1380
1           DRC01        5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.5  ...  Supermarket Type1          2097.2700
3           FDX07        19.2  ...      Grocery Store           732.3800
4           NCD19        8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [32]:
#df = df.drop(columns=['Outlet_Size'])
#df = df.Outlet_Size.replace(np.nan,'value',regex = True)
df['Outlet_Size'].fillna(value='VARIOUS', inplace=True)

In [6]:
# 6) Confirm that there are no missing values after addressing them.
#df.shape
df['Item_Weight'].value_counts(dropna=False)
df.head()

  Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.3  ...  Supermarket Type1          3735.1380
1           DRC01        5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.5  ...  Supermarket Type1          2097.2700
3           FDX07        19.2  ...      Grocery Store           732.3800
4           NCD19        8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
df['Item_Size'].value_counts(dropna=False)

In [27]:
df.sort_values('Item_Fat_Content')

     Item_Identifier  ...  Replace__Fat_Content_Spelling
6442           FDS35  ...                             LF
6238           DRM37  ...                             LF
3059           FDK14  ...                             LF
3830           FDW25  ...                             LF
5460           FDT08  ...                             LF
...              ...  ...                            ...
2111           FDH05  ...                        Regular
151            FDR28  ...                        Regular
2438           FDI10  ...                        Regular
1124           FDL38  ...                        Regular
199            FDX49  ...                        Regular

[8523 rows x 14 columns]

In [7]:
# 7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 

#df['Item_Fat_Content'].str.find('reg')
#df['Item_Fat_Content'].str.replace('reg','Regular')
#df

df['Item_Fat_Content'].replace('reg','Regular',inplace=True)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [8]:
# 7) Find and fix any inconsistent categories of data (example: fix cat, Ca

df['Item_Fat_Content'].replace('LF','Low Fat',inplace=True)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [9]:
df[df.Item_Fat_Content == 'reg']

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [10]:
df[df.Item_Fat_Content == 'LF']

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [22]:
# 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)
df.describe()

       Item_Visibility  ...  Item_Outlet_Sales
count      8523.000000  ...        8523.000000
mean          0.066132  ...        2181.288914
std           0.051598  ...        1706.499616
min           0.000000  ...          33.290000
25%           0.026989  ...         834.247400
50%           0.053931  ...        1794.331000
75%           0.094585  ...        3101.296400
max           0.328391  ...       13086.964800

[8 rows x 4 columns]